@model IEnumerable<LifeStream.Models.Nonmedicaltaff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid pt-1 px-1">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">

                <div class="table-responsive">
<h3>Non Medical Staff</h3>
<hr/>

<p>
        <a asp-action="Create" class="btn btn-primary"> <i class="bi bi-plus-square"></i>  Create New Non Medical Staff</a>
</p>

    <!-- ✅ Search Form -->
    <form asp-action="Index" method="get" class="mb-3">
        <div class="input-group">
            <input type="text" name="searchQuery" value="@Context.Request.Query["searchQuery"]" class="form-control" placeholder="Search by Name" />
            <button type="submit" class="input-group-text bg-primary">
                <i class="bi bi-search text-light"></i>
            </button>
        </div>
    </form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jobtitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jobtitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffId"><i style="color:blue; font-size:small" class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.StaffId"><i style="color:deepskyblue" class="bi bi-card-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.StaffId"><i style="color:red" class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
</div>
</div>
