@model IEnumerable<LifeStream.Models.Patient>

@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-hover default-primary">
    <thead class="thead-dark">
        <tr>
            <th>Patient Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Appointments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PatientName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>
                    @if (item.Appointments.Any())
                    {
                        <ul>
                            @foreach (var appointment in item.Appointments)
                            {
                                <li>@appointment.AppointmentDate - @appointment.Doctor.Name</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <span>No Appointments</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.UserId"><i class="bi bi-card-list"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
